<navbar></navbar>
<div id="main" class="container">
  <back-button [link]='' [title]="'Cursos'"></back-button><h1 class="page-title">Documentos</h1>
  <ngx-datatable
    #table
    class="material fullscreen expandable"
    [columnMode]="'force'"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [selectionType]="'checkbox'"
    (activate)="onActivate($event)"
    (select)='onSelect($event)'
    [groupRowsBy]="'type'"
    [groupExpansionDefault]="true">



    <!-- Group Header Template -->
        <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader (toggle)="onDetailToggle($event)">
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div style="padding-left:5px;">
              <a style="cursor: pointer"
                [class.datatable-icon-right]="!expanded"
                [class.datatable-icon-down]="expanded"
                title="Sección de {{group.value[0].type}}"
                (click)="toggleExpandGroup(group)">
                <b>{{group.value[0].type}} <fa name="info-circle" class=""></fa></b>
              </a>
            </div>
          </ng-template>
        </ngx-datatable-group-header>


    <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
          <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
        </ng-template>
        <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
          <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event); onSelect($event)"/>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="Documento"
      [sortable]="false">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Opciones"
      [width]="120"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-group="group" ngx-datatable-cell-template>
        <a routerLink="/course/edit/{{courseID}}"><fa name="edit" size="lg" animation="" style="margin-right: 10px" *ngIf="row.type != 'Otro'"></fa></a>
        <!-- <fa name="edit" size="lg" animation="" class="btn-edit" *ngIf="row.type != 'Otro'" routerLink="/course/edit/{{courseID}}"></fa> -->
        <div class="separator" *ngIf="row.type == 'Otro'"></div>
        <a  class="table-link" href="https://www.w3.org/WAI/ER/tests/xhtml/testfiles/resources/pdf/dummy.pdf" target="_blank" download><fa name="download" size="lg" animation=""></fa></a>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <button class="btn btn-primary btn-add" (click)="open()">Agregar <fa name="plus-circle " class="icons"></fa></button>
