<div id="addAnswer" class="">
  <div class="card card-signin my-5">
    <div class="card-body">
      <h5 class="card-title text-center">Agregar Respuesta</h5>
      <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>

        <div class="form-label-group">
          <textarea class="form-control" id="textName" rows="3" placeholder="Respuesta"
          #name="ngModel" name="name" ngModel></textarea>
          <label for="textName">Respuesta</label>
        </div>

        <div class="row" *ngFor="let v of variables; let i = index">
          <div class="form-label-group col-3">
            <input type="text" id="inputVar{{i}}" class="form-control" placeholder="Name address" required
             (change)="onChangeVar(i, $event.target.value)">
            <label for="inputVar{{i}}">Var</label>
          </div>

          <div class="form-label-group col-9">
            <input type="text" id="inputValues{{i}}" class="form-control" placeholder="Name address" required
            (change)="onChangeValue(i, $event.target.value)">
            <label for="inputValues{{i}}">Valores posibles</label>
          </div>
        </div>
        <a class="btn btn-primary" (click)="addVar()" style="color: white; margin-bottom: 5px;">Variable <fa name="plus-circle" class="icons"></fa></a>
        <button type=submit class="btn btn-lg btn-primary btn-block text-uppercase">Agregar</button>
      </form>
    </div>
  </div>
</div>
<!-- <div class="col-sm-9 col-md-7 col-lg-5">

</div> -->
