<navbar></navbar>
<div class="container" style="position: relative">
  <back-button [link]="'courses/1/exams'" [title]="'Cursos'"></back-button><h1 class="page-title">Preguntas del examen</h1>
</div>
<div id="addExam" class="container" style="display: flex; flex-direction: column">
  <div class="row" style="">
    <div class="card card-signin col-12">
      <h5 class="card-title text-center" style="margin-top: 33px; margin-bottom: ;">Lista de preguntas</h5>
      <ngx-datatable
        #table
        class="material"
        style="height: 300px;"
        [scrollbarV]="true"
        [columnMode]="'force'"
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="0"
        [footerHeight]="50"
        [rowHeight]="50"
        [selected]="selected"
        [selectionType]="'single'"
        [selectCheck]="singleSelectCheck"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
      </ngx-datatable>

      <div class="container">
        <div class="row">
          <button class="btn btn-primary btn-add" (click)="open()">Agregar <fa name="plus-circle" class="icons"></fa></button>
          <button class="btn btn-primary btn-delete" (click)="onDelete()" *ngIf="selected.length > 0">Borrar <fa name="minus-circle" class="icons"></fa></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="justify-content: space-between">
    <div class="card card-signin col-sm-12 col-md-6 col-lg-5" *ngIf="selected.length >= 1">
      <div class="card-body">
        <h5 class="card-title text-center">Editar Pregunta</h5>
        <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>

          <!-- <div class="form-group">
            <select class="form-control selectpicker" id="selectType" (change)="onChange($event.target)">
              <option selected disabled>Tipo de pregunta</option>
              <option>Examen</option>
              <option>Tarea</option>
              <option>Otro</option>
            </select>
          </div> -->

          <!-- <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required autofocus
            value="{{this.selected[0].name}}">
            <label for="inputName">Título de la pregunta</label>
          </div> -->

          <div class="form-label-group">
            <textarea id="inputName" class="form-control" required
            name="name" rows="5" cols="80" value="{{this.selected[0].name}}"></textarea>
            <label for="inputName">Descripción de la pregunta</label>
          </div>

          <div class="form-label-group">
            <input type="number" id="inputNumber" class="form-control" value="0" min="0" max="3" (change)="onChangeVar($event.target)">
            <label for="inputNumber">Cantidad de variables</label>
          </div>

          <button class="btn btn-lg btn-primary btn-block text-uppercase" *ngIf="variables > 0" (click)="openVariables()">Editar Variables</button>
        </form>
      </div>
    </div>

    <div class="card card-signin col-sm-12 col-md-6 col-lg-5"
      *ngIf="selected.length >= 1 && checkAnswers">
      <div class="card-body">
        <h5 class="card-title text-center">Editar Respuestas</h5>
        <!-- <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>
          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required
            #name="ngModel" name="name" ngModel>
            <label for="inputName">Respuesta</label>
          </div>
        </form> -->
        <ngx-datatable
          #table2
          class="material"
          style="height: 300px;"
          [scrollbarV]="true"
          [columnMode]="'force'"
          [rows]="rows2"
          [headerHeight]="0"
          [footerHeight]="50"
          [rowHeight]="50">
          <ngx-datatable-column prop="name">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <a  class="table-link">{{row.name}}</a>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card card-signin col-sm-9 col-md-5 col-lg-5" *ngIf="openvar && selected.length >= 1">
      <div class="card-body">
        <h5 class="card-title text-center">Editar Variables</h5>
        <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>

          <!-- <div class="form-group">
            <select class="form-control selectpicker" id="selectType" (change)="onChange($event.target)">
              <option selected disabled>Tipo de pregunta</option>
              <option>Examen</option>
              <option>Tarea</option>
              <option>Otro</option>
            </select>
          </div> -->

          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required autofocus
            #name="ngModel" name="name" ngModel>
            <label for="inputName">Respuesta</label>
          </div>

          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required autofocus
            #name="ngModel" name="name" ngModel>
            <label for="inputName">Respuesta</label>
          </div>
          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required autofocus
            #name="ngModel" name="name" ngModel>
            <label for="inputName">Respuesta</label>
          </div>
          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required autofocus
            #name="ngModel" name="name" ngModel>
            <label for="inputName">Respuesta</label>
          </div>
          <div class="form-label-group">
            <input type="text" id="inputName" class="form-control" placeholder="Name address" required autofocus
            #name="ngModel" name="name" ngModel>
            <label for="inputName">Respuesta</label>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row" style="justify-content: space-between" *ngIf="selected.length >= 1">
    <button type="button" class="btn btn-primary btn-block btn-save" name="button" style="border: 2px white !important">Guardar pregunta</button>
  </div>

</div>
