<navbar></navbar>
<div class="container" style="position: relative">
  <back-button [link]="'courses/1/exams'" [title]="'Cursos'"></back-button><h1 class="page-title">Preguntas del examen</h1>
</div>
<div id="addExam" class="container" style="display: flex; flex-direction: column">
  <div class="row" style="">
    <div class="card card-signin col-12">
      <h5 class="card-title text-center" style="margin-top: 33px; margin-bottom: ;">Lista de preguntas</h5>
      <ngx-datatable
        #table
        class="material"
        style="height: 300px;"
        [scrollbarV]="true"
        [columnMode]="'force'"
        [rows]="rows"
        [columns]="columns"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [selected]="selected"
        [selectionType]="'single'"
        [selectCheck]="singleSelectCheck"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
      </ngx-datatable>

      <div class="container">
        <div class="row">
          <button class="btn btn-primary btn-add" (click)="open()">Agregar pregunta <fa name="plus-circle" class="icons"></fa></button>
          <button class="btn btn-primary btn-delete" (click)="onDelete()" *ngIf="selected.length > 0">Borrar <fa name="minus-circle" class="icons"></fa></button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="justify-content: space-between">
    <div class="card card-signin col-sm-12 col-md-6 col-lg-5" *ngIf="selected.length >= 1">
      <div class="card-body">
        <h5 class="card-title text-center">Editar Pregunta</h5>
        <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>

          <div class="form-label-group">
            <textarea id="inputName" class="form-control" required
            name="name" rows="5" cols="80" value="{{this.selected[0].name}}"></textarea>
            <label for="inputName">Pregunta</label>
          </div>

          <!-- <div class="form-label-group">
            <input type="number" id="inputNumber" class="form-control" value="0" min="0" max="3" (change)="onChangeVar($event.target)">
            <label for="inputNumber">Cantidad de variables</label>
          </div> -->
        </form>
      </div>
    </div>

    <div class="card card-signin col-sm-12 col-md-6 col-lg-5" *ngIf="selected.length >= 1 && checkAnswers">
      <h5 class="card-title text-center" style="margin-top: 33px; margin-bottom: ;">Lista de preguntas</h5>
      <ngx-datatable
        #table2
        class="material"
        style="height: 300px;"
        [scrollbarV]="true"
        [columnMode]="'force'"
        [rows]="rows2"
        [columns]="columns2"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="50"
        [selected]="selectedAns"
        [selectionType]="'single'"
        [selectCheck]="singleSelectCheck">
        <ngx-datatable-column prop="name">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a  class="table-link">{{row.name}}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="correct" [width]="75" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a  style="display: flex; justify-content: center" class="table-link" *ngIf="row.correct == true"> <fa style="color: #ff508e; font-size: 20px;" class="i-correct" name="check-circle" class="icons"></fa></a>
            <a  style="display: flex; justify-content: center" class="table-link" *ngIf="row.correct != true"> <fa style="font-size: 20px;" name="times-circle" class="icons"></fa></a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

      <div class="container">
        <div class="row">
          <button class="btn btn-primary btn-add" (click)="openAns()">Agregar Respuesta <fa name="plus-circle" class="icons"></fa></button>
          <button class="btn btn-primary btn-delete" (click)="onDelete()" *ngIf="selectedAns.length > 0">Borrar <fa name="minus-circle" class="icons"></fa></button>
        </div>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="card card-signin col-12" *ngIf="selected.length >= 1">
      <div class="card-body">
        <h5 class="card-title text-center">Editar Variables</h5>
        <form class="form-signin" #f="ngForm" (ngSubmit)="onSubmit(f)" validate>

          <div class="row">
            <div class="form-label-group col-2">
              <input type="text" id="inputVar" class="form-control" placeholder="Name address" required autofocus
              #var="ngModel" name="var" ngModel>
              <label for="inputVar">Respuesta</label>
            </div>

            <div class="form-label-group col-10">
              <input type="text" id="inputVar" class="form-control" placeholder="Name address" required autofocus
              #name="ngModel" name="name" ngModel>
              <label for="inputVar">Respuesta</label>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div> -->

  <div class="row" style="justify-content: space-between" *ngIf="selected.length >= 1">
    <button type="button" class="btn btn-primary btn-block btn-save" name="button" style="border: 2px white !important">Guardar pregunta</button>
  </div>

</div>
